aiofiles==0.6.0
aiomysql==0.0.21
aiosqlite==0.16.1
atlastk==0.12.9
atomicwrites==1.4.0
attrs==20.3.0
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
fastapi==0.63.0
field==0.2.0
h11==0.12.0
idna==2.10
iniconfig==1.1.1
iso8601==0.1.14
Jinja2==2.11.3
jwt==1.2.0
MarkupSafe==1.1.1
mysql-connector==2.2.9
packaging==20.9
passlib==1.7.4
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pydantic==1.8.1
PyJWT==2.0.1
PyMySQL==0.9.3
pyparsing==2.4.7
pypika-tortoise==0.1.0
pytest==6.2.2
python-multipart==0.0.5
pytz==2020.5
requests==2.25.1
six==1.15.0
starlette==0.13.6
toml==0.10.2
tortoise==0.1.1
tortoise-orm==0.17.1
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.13.4
