<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment Booking</title>
</head>
<body>
    <div>
        <p>Book Appointment</p>
        <form method="get" id="appointment_form">
            <label>Date : </label>
            <input type="date" id="date" name="date">
            <br>
            <label>Time : </label>
            <input type="time" id="time" name="time">
            <br>
            <label>Doctor Type : </label>
            <select id="doc_type" name="doc_type">
              <option value="ortho">ortho</option>
              <option value="dentist">dentist</option>
              <option value="Surgeon">Surgeon</option>
              <option value="Cardiologist">Cardiologist</option>
            </select>
            <br>
            <button type="submit" form="appointment_form" value="Submit">Submit</button>
        </form>
    </div>
</body>
</html>