<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Patient Management</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename='/css/signup.css')}}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='/css/simple-sidebar.css') }}" rel="stylesheet">
  <style>
        h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 100px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
        h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }

    </style>
</head>

<body>

<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Patient Management</div>
    <div class="list-group list-group-flush">
      <a href="/" class="list-group-item list-group-item-action bg-light">Home</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Doctor</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Patient</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Hospital</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Home</a>
              <a class="dropdown-item" href="#">About</a>
              <a class="dropdown-item" href="#">Contact</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Profile</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- /#page-content-wrapper -->
   <h1>Welcome {{name}}</h1>
     <p>API Key: </p>
     <input type="text" value={{value.get('access_token')}} id="myInput">
     <button onclick="myFunction()">Copy text</button>
     <script>
      function myFunction() {
        var copyText = document.getElementById("myInput");
        copyText.select();
        copyText.setSelectionRange(0, 99999)
        document.execCommand("copy");
        alert("Copied the text: " + copyText.value);
      }
      </script>
     <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
</div>
</body>

</html>